server:
  host: "0.0.0.0"      # 监听地址，0.0.0.0 表示所有接口
  port: 8081           # 服务端口
  domain: ""           # 外部访问域名，为空则自动生成 http://host:port

  database:
    type: "postgresql"  # sqlite / postgresql
    host: "localhost"
    port: 5432
    username: "postgres"
    password: "root"
    database: "image-dev"

  storage:
    type: "local"       # local / minio
    local:
      path: "./data/upload"
    minio:
      endpoint: ""
      access_key_id: ""
      secret_access_key: ""
      use_ssl: false
      bucket_name: ""

  cache:
    provider: "memory"  # memory / redis
    max_image_cache_size_mb: 10
    enable_image_caching: true
    redis:
      address: "localhost:6379"
      password: ""
      db: 0
    memory:
      num_counters: 1000000
      max_cost: 1073741824
      buffer_items: 64
      metrics: true

  jwt:
    # openssl rand -base64 32
    secret: "your-very-long-secret-key-at-least-32-characters-long"
    expires_in: "30m"
    refresh_expires_in: "10080m"
